{
  "extends": ["eslint:recommended"],
  "root": true,
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion" : "latest",
    "sourceType": "module"
  },
  "rules": {
    "no-console": "error"
  }
}